<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SisGMAEntities"
         connectionString="metadata=res://*/SisGMA.csdl|res://*/SisGMA.ssdl|res://*/SisGMA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\IDB;initial catalog=SisGMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultSkin" value="skin-black"/>
    <add key="Version" value="0.0.2"/>
    <add key="WebDevelopText" value="http://www.ocrinnovaciones.cl"/>
    <add key="WebDevelopUrl" value="http://www.resilientes.org"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
