<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SisGMAEntities"
         connectionString="metadata=res://*/SisGMA.csdl|res://*/SisGMA.ssdl|res://*/SisGMA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SisGMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="0.0.2"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
