@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Section = "Inicio";
    ViewBag.Title = ViewBag.Section;
}
<section class="content-header">
    <h1>@ViewBag.Section</h1>
    <ol class="breadcrumb">
        <li class="active"><a href="@Url.Action("Index", "Inicio", new { area = "" })"><i class="fa fa-home"></i>Inicio</a></li>
    </ol>
</section>
<section class="content">
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-dropbox"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Productos</span>
                <span class="info-box-number">@ViewBag.CantidadProductos</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-group"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Operadores</span>
                <span class="info-box-number">@ViewBag.CantidadOperadores</span>
            </div>
        </div>
    </div>
</section>